#### make an empty dictionary named practice_dict

In [2]:
practice_dict = dict()
print(practice_dict)

{}

#### add name of student with their marks in above dictionary

In [5]:
practice_dict = {"Mayurr":60,"Ashish":61,"Sanket":62,"nikhil":63,'Vishnu':64,"Nikita":65}
print(practice_dict)

{'Mayurr': 60, 'Ashish': 61, 'Sanket': 62, 'nikhil': 63, 'Vishnu': 64, 'Nikita': 65}

#### change the key name for one key in dictionary [example - {'mayurr' : 55} -----> {'mayur' : 55} ]

In [27]:
print("Before renaming Key's = " ,practice_dict)
practice_dict['MAYUR'] = practice_dict.pop('Ashish')
print("After rename Key's = " ,practice_dict)

Before renaming Key's =  {'Ashish': 61, 'Sanket': 62, 'nikhil': 63, 'Nikita': 65}
After rename Key's =  {'Sanket': 62, 'nikhil': 63, 'Nikita': 65, 'MAYUR': 61}

#### change key as a value and value as key in above dictionary. [example - {'mayur': 55} -----> {55: 'mayur'}

In [40]:
practice_dict = {"Mayurr":60,"Ashish":61,"Sanket":62,"nikhil":63,'Vishnu':64,"Nikita":65}     

print("Original Dict :",practice_dict)
print('After Swapping Dict key value :')
for key, value in practice_dict.items():
    new_dict = dict([(value,key)])
    print(new_dict)

Original Dict : {'Mayurr': 60, 'Ashish': 61, 'Sanket': 62, 'nikhil': 63, 'Vishnu': 64, 'Nikita': 65}
After Swapping Dict key value :
{60: 'Mayurr'}
{61: 'Ashish'}
{62: 'Sanket'}
{63: 'nikhil'}
{64: 'Vishnu'}
{65: 'Nikita'}

#### ----------------------------------------------------------------------------------------------------------------------------------------------------------

#### make a dictionary using two lists
city_names = ['pune', 'mumbai', 'nashik', 'ahmednagar']<br>
covid_counts = [12000, 22000, 9000, 3000]

In [53]:
city_names = ['pune', 'mumbai', 'nashik', 'ahmednagar']
covid_counts = [12000, 22000, 9000, 3000]
new_dict = dict(zip(city_names,covid_counts))
print(new_dict)

{'pune': 12000, 'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000}

#### remove pune from above dictionary

In [54]:

print("Before Delete Pune : ",new_dict)
a= new_dict.pop('pune')
print("After Delete : ",new_dict)

Before Delete Pune :  {'pune': 12000, 'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000}
After Delete :  {'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000}

#### add delhi = 20000 in dictionary

In [57]:
new_dict['Delhi']=20000
print(new_dict)

{'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000, 'Delhi': 20000}

#### print keys of dictionary

In [58]:
print(new_dict.keys())

dict_keys(['mumbai', 'nashik', 'ahmednagar', 'Delhi'])

#### print values of dictionary

In [59]:
print(new_dict.values())

dict_values([22000, 9000, 3000, 20000])

#### print items of dictionary

In [60]:
print(new_dict.items())

dict_items([('mumbai', 22000), ('nashik', 9000), ('ahmednagar', 3000), ('Delhi', 20000)])

#### print 3rd item of dictionary

In [71]:
print(list(new_dict)[2])

ahmednagar

#### ----------------------------------------------------------------------------------------------------------------------------------------------

### perform operations on dictionary using all dictionary functions

####  Access the value of key ‘history’

In [90]:
sample_dict = { 
   "class":{ 
      "student":{ 
         "name":"nikita",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sample_dict)

{'class': {'student': {'name': 'nikita', 'marks': {'physics': 70, 'history': 80}}}}

In [91]:
print(sample_dict['class']['student']['marks']['history'])

80

#### Initialize dictionary with default values

In [98]:
employees = ['mayur', 'aniket', 'John']
defaults = {"designation": 'Application Developer', "salary": 80000}

In [100]:
d1 = dict.fromkeys(employees, defaults)
print(d1)

{'mayur': {'designation': 'Application Developer', 'salary': 80000}, 'aniket': {'designation': 'Application Developer', 'salary': 80000}, 'John': {'designation': 'Application Developer', 'salary': 80000}}

#### Create a new dictionary by extracting the following keys from a given dictionary

In [121]:
# Expected output - {'name': 'akshay', 'salary': 8000}
sampleDict = {
  "name": "akshay",
  "age":22,
  "salary": 80000,
  "city": "Ahmednagar"
  
}
keys = ["name", "salary"]
print(sampleDict)

{'name': 'akshay', 'age': 22, 'salary': 80000, 'city': 'Ahmednagar'}

In [127]:
for i in keys:
    print({i:sampleDict[i]})

{'name': 'akshay'}
{'salary': 80000}

#### Check if a value 200 exists in a dictionary
expected output - True

In [128]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

In [130]:
for i in sampleDict.values():
    if i== 200:
        print('True')

True

#### Rename key city to location in the following dictionary

In [139]:
sampleDict = {
  "name": "Vishnu",
  "age":22,
  "salary": 80000,
  "city": "Mumbai"
}

In [140]:
sampleDict['Location'] = sampleDict.pop("city")
print(sampleDict)

{'name': 'Vishnu', 'age': 22, 'salary': 80000, 'Location': 'Mumbai'}

#### Get the key corresponding to the minimum value from the following dictionary

In [173]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

#### Given a Python dictionary, Change Brad’s salary to 8500

In [165]:
sample_dict = {
     'emp1': {'name': 'mayur', 'salary': 75000},
     'emp2': {'name': 'nikhil', 'salary': 80000},
     'emp3': {'name': 'sanket', 'salary': 65000}
}

In [167]:
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'mayur', 'salary': 75000}, 'emp2': {'name': 'nikhil', 'salary': 80000}, 'emp3': {'name': 'sanket', 'salary': 8500}}